# Test Report

## User 

#### During the test performed on the User Model i found:
- The method 'getRouteKeyName' did not return the expected value 'username'

- The method 'doesUserFollowAnotherUser' given Rose as an user follower and Musonda as a followed user did not return a boolean value <span style="color:red">(Return value must be of type bool, none returned)</span>;
The method seems to not have been implemented yet 

     

    
